*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  font-size: 200px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
}

h1 + * {
  margin-top: 30px;
}

h1 span {
  display: inline-block;
  padding-left: 78px;
}

h2 {
  font-size: 60px;
  font-weight: 600;
}

h2 + * {
  margin-top: 12px;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.833px;
}

h3 + * {
  margin-top: 10px;
}

h4 {
  font-size: 28px;
  line-height: 45px;
  font-weight: 500;
}

ol {
  padding-left: 50px;
}

ol + * {
  margin-top: 42px;
}

li + li {
  margin-top: 4px;
}

header {
  background-image: url("./images/decor.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  position: relative;
  overflow: hidden;
  min-height: 730px;
  height: 100%;
}

header a {
  display: block;
  margin: 38px 0;
}
header h1 {
  padding: 38px 0;
}

header > img {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: -10px;
  right: -276px;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ceff1b;
  border-radius: 4px;
  padding: 13px 54px;
  font-weight: 600;
  font-size: 16px;
  margin: 50px 0;
  cursor: pointer;
}

.errorMessege {
  color: red;
}

.wrapper {
  padding: 0 64px;
  font-family: "Popins", sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 1290px;
  margin: 0 auto;
}

.day {
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 60px;
}

.day + * {
  margin-top: 60px;
}

.day:last-child {
  border: none;
}

.gallery {
  display: flex;
  align-items: center;

  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
}

.gallery li {
  max-width: 280px;
  flex-grow: 1;
  flex-shrink: 0;
}

.gallery li img {
  max-width: 100%;
  aspect-ratio: 1/0.686;
  object-fit: cover;
}

.gallery + * {
  margin-top: 60px;
}
