*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  color: white;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.title {
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  font-size: clamp(76px, 10vw, 200px);
}

.title + * {
  margin-top: 30px;
}

.title span {
  display: inline-block;
  padding-left: 78px;
}

.title--content {
  font-size: 60px;
  font-weight: 600;
}

.title--content + * {
  margin-top: 12px;
}

.title--day {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.833px;
}

.title--day + * {
  margin-top: 10px;
}

.title--exercise {
  font-size: 28px;
  line-height: 45px;
  font-weight: 500;
}

.title--exercise + * {
  margin-top: 10px;
}

.approaches {
  padding-left: 50px;
}

.approaches + * {
  margin-top: 42px;
}

.approaches__approach + li {
  margin-top: 4px;
}

.header {
  font-family: "Popins", sans-serif;
  background-image: url("./images/decor.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header .logo {
  display: block;
  margin: 38px 0;
}

.header .logo > img {
  display: block;
  height: 14px;
}

.header .title {
  padding: 38px 0;
  flex-grow: 1;
}

.header > .decor {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: -10px;
  right: -276px;
}

.header .text {
  z-index: 10;
}

.header .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ceff1b;
  color: #0a0a0a;
  border-radius: 4px;
  padding: 13px 54px;
  font-weight: 600;
  font-size: 16px;
  margin: 50px 0;
  cursor: pointer;
  border: 0;
}

.header .button:hover,
.header .button:focus-visible {
  opacity: 0.8;
}

.errorMessege {
  color: red;
}

.wrapper {
  padding: 0 64px;
  font-family: "Popins", sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 1290px;
  margin: 0 auto;
}

.day {
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 60px;
}

.day + * {
  margin-top: 60px;
}

.day:last-child {
  border: none;
}

.gallery {
  display: flex;
  align-items: center;

  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
}

.gallery .gallery__preview {
  max-width: 280px;
  flex-grow: 1;
  flex-shrink: 0;
}

.gallery .gallery__preview img {
  max-width: 100%;
  aspect-ratio: 1/0.686;
  object-fit: cover;
}

.gallery + * {
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .title--content,
  .title--day {
    text-align: center;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    justify-content: center;
  }

  .wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .header > .decor {
    top: auto;
    right: auto;
  }

  .header .logo > img {
    height: 20px;
  }
  .header {
    align-items: stretch;
  }
}
